{% extends "layout.html" %}
{% load static %}
{% block content %}
<h2>TRABAJO INTEGRADOR FINAL 2021 (v1.0)</h2>
<br/>
<h3>ENUNCIADO</h3>
<p>La empresa JAGUARETE KAA S.A. quiere realizar un sitio web para exponer los productos que tiene
para venderlos aprovechando el auge del eCommerce y dentro de sus requerimientos está lo
siguiente.</p>
<p>La empresa quiere que todas las páginas del sitio sean homogéneas además de que puedan verse
bien en computadoras de escritorio, tablets o teléfonos celulares.</p>
<br/>
<h3>ESTRUCTURA DEL SITIO WEB</h3>
<p>Se desea tener una sección de encabezado, que incluya el logo de la empresa y botones de acceso
rápido para el login del usuario, el registro y el carrito. Además de contar con el botón de desconectar
en caso de estar logueado.</p>
<p>Una sección de menú, donde se pueda ir siempre al home o pagina principal, un botón desplegable
que muestre todas las categorías de los productos, un botón de acerca de.. que lleve hacia una página
con los datos de la empresa, un botón de contacto que sea un enlace al mail de la empresa, un botón
de agregar producto (que solo vean los moderadores) y una caja de búsqueda para buscar productos.
Una sección de footer o pie de página donde aparezca el nombre de la empresa, el copyright y el
nombre del desarrollador.</p>
<p>Lo único que cambiará de página en página es el contenido que haya en la sección media o cuerpo
del sitio web</p>
{% endblock %}