{% extends "layout.html" %}
{% load static %}
{% block content %}
{% if form.errors %}
<div class="alert alert-danger" role="alert">
    <strong>Atención!</strong> Revise los datos cargados y vuelva a intentar.
</div>
{% endif %}
<!--single-->
<style>
    .formu {
        width: 100%;
        resize: none;
        margin: 0;
        padding: 0;
    }
</style>
<div class="single-wl3">
	<div class="container">
		<div class="single-grids">
			<div class="col-md-9 single-grid form-w3agile form1">
				<div clas="single-top">
                    <form enctype="multipart/form-data" method="post">
                        {% csrf_token %}
					    <div class="single-left">
					        <div class="flexslider">							
					            <div class="thumb-image"> 
                                    {% for campo in form %}   
                                        {% if campo.label == 'Foto' or campo.label == 'Banner' %}
                                         <div>{{ campo.label }}</div>
                                         <div>{{ campo }}</div>
                                        {% endif %}
                                    {% endfor %}	    
					            </div> 
                            </div>
                        </div>                      		
					    <div class="single-right simpleCart_shelfItem">
                            {% for campo in form %}                                 
                                {% if campo.label == 'Nombre' or campo.label == 'Descrip' or campo.label == 'Precio' or campo.label == 'Categoría'%}                                   
                                    <div style="text-align: right;" class="key">  
                                        {{ campo }}
                                        <div class="clearfix"></div>
                                    </div>                                              
                                {% endif %}                                                                  
                            {% endfor %}
                            <input type="submit" value="Guardar">
                        </div>
                    </form>													
				</div>
			</div>
		</div>
	</div>
</div>	
{% endblock %}