{% extends "layout.html" %}
{% load static %}
{% block content %}
{% if form.errors %}
<div class="alert alert-danger" role="alert">
    <strong>Atención!</strong> Revise los datos cargados y vuelva a intentar.
</div>
{% endif %}
<!--single-->
<div class="single-wl3">
	<div class="container">
		<div class="single-grids">
			<div class="col-md-9 single-grid form-w3agile form1">
				<div clas="single-top">
                    <form method="post">
                        {% csrf_token %}
					    <div class="single-left key">
					        <div class="flexslider">							
					            <div class="thumb-image"> 
                                    {% for campo in form %}   
                                        {% if campo.label == 'Foto' or campo.label == 'Banner' %}
                                            {{ campo.label }} {{ campo }}
                                        {% endif %}
                                    {% endfor %}	    
					            </div> 
                            </div>
                        </div>                      		
					    <div class="single-right simpleCart_shelfItem">
                            {% for campo in form %} 
                                {% if campo.label == 'Descrip'%}
                                    <div class="description">
                                        {{ campo }}                                       
                                        <div class="clearfix"></div>
                                    </div>
                                {% elif campo.label == 'Nombre' %}
                                    <div class="key">
                                        {{ campo }}  
                                        <div class="clearfix"></div>
                                    </div>   
                                {% elif campo.label == 'Precio' or campo.label == 'Categoría' %}
                                    <div class="key">
                                       {{ campo }}{{campo.label}} 
                                        <div class="clearfix"></div>
                                    </div>
                                {% endif %}                                   
                            {% endfor %}
                            <input type="submit" value="Guardar">
                        </div>
                    </form>													
				</div>
			</div>
		</div>
	</div>
</div>	
{% endblock %}