{% extends "layout.html" %}
{% load static %}
{% block content %}
<!--single-->
<div class="single-wl3">
	<div class="container">
		<div class="single-grids">
			<div class="col-md-9 single-grid">
				<div clas="single-top">
					<div class="single-left">
						<div class="flexslider">							
							<div class="thumb-image"> <img src="{% static 'images/p28.jpg' %}" data-imagezoom="true" class="img-responsive"> </div>							
						</div>
					</div>					
					<div class="single-right simpleCart_shelfItem">
						<h4>{{ productoss.nombre }}</h4>					
						<p class="price item_price">$&nbsp;{{ productoss.precio }}</p>
						<div class="description">
							<p><span>Descripción : </span> {{ productoss.descripcion }}</p>
						</div>
						<div class="color-quality">
							<h6>Cantidad :</h6>
							<div class="quantity"> 
								<div class="quantity-select">                           
									<div class="entry value-minus1">&nbsp;</div>
										<div class="entry value1"><span>1</span></div>
											<div class="entry value-plus1 active">&nbsp;</div>
										</div>
									</div>
									<!--quantity-->
									<script>
										$('.value-plus1').on('click', function(){
											var divUpd = $(this).parent().find('.value1'), newVal = parseInt(divUpd.text(), 10)+1;
											divUpd.text(newVal);
										});
										$('.value-minus1').on('click', function(){
											var divUpd = $(this).parent().find('.value1'), newVal = parseInt(divUpd.text(), 10)-1;
											if(newVal>=1) divUpd.text(newVal);
										});
									</script>
									<!--quantity-->
								</div>
								<div class="women">		
									<a href="#" data-text="Add To Cart" class="my-cart-b item_add">Agregar al carrito</a>
								</div>							
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>															
				</div>
			</div>
		</div>
	</div>
</div>	
<!--single-->
{% endblock %}