{% extends "layout.html" %}
{% load static %}
{% block content %}
{% if validlink %}
    <div class="alert alert-success" role="alert">
        <strong>Atención!</strong> Ingrese y confirme su nueva contraseña.
    </div>
    <div class="login">
        <div class="main-agileits">
            <div class="form-w3agile">
                <form action="" method="post">
                    <div style="display:none">
                        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                    </div>
                    <table>
                        <tr>
                            <td>{{ form.new_password1.errors }}
                                <label for="id_new_password1">Nueva contraseña:</label></td>
                            <td>{{ form.new_password1 }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.new_password2.errors }}
                                <label for="id_new_password2">Confirmar contraseña:</label></td>
                            <td>{{ form.new_password2 }}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input type="submit" value="Cambiar contraseña" /></td>
                        </tr>
                    </table>
                </form>           
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
{% else %}
{% endblock %}