{% extends "layout.html" %}
{% load static %}
{% block content %}
<div class="login">
    <div class="main-agileits">
        <div class="form-w3agile form1">
            <h3>Registrarse</h3>
            <form action="#" method="post">
                {% csrf_token %}
                <div class="key">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <input type="text" value="Usuario" name="Username" onfocus="this.value = '';"
                        onblur="if (this.value == '') {this.value = 'Usuario';}" required="">
                    <div class="clearfix"></div>
                </div>
                <div class="key">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <input type="text" value="Email" name="Email" onfocus="this.value = '';"
                        onblur="if (this.value == '') {this.value = 'Email';}" required="">
                    <div class="clearfix"></div>
                </div>
                <div class="key">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    <input type="password" value="Password" name="Password" onfocus="this.value = '';"
                        onblur="if (this.value == '') {this.value = 'Password';}" required="">
                    <div class="clearfix"></div>
                </div>
                <div class="key">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    <input type="password" value="Confirmar Password" name="Confirmar Password" onfocus="this.value = '';"
                        onblur="if (this.value == '') {this.value = 'Confirmar Password';}" required="">
                    <div class="clearfix"></div>
                </div>
                <input type="submit" value="Registrarse">
            </form>
        </div>
    </div>
</div>
{% endblock %}